<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=LPTP-DEV003\SQL2012_DEV;Initial Catalog=LaunchSitecore_core;Integrated Security=False;User ID=hhogdev;Password=hh0gd3v" />
  <add name="master" connectionString="Data Source=LPTP-DEV003\SQL2012_DEV;Initial Catalog=LaunchSitecore_master;Integrated Security=False;User ID=hhogdev;Password=hh0gd3v" />
  <add name="web" connectionString="Data Source=LPTP-DEV003\SQL2012_DEV;Initial Catalog=LaunchSitecore_web;Integrated Security=False;User ID=hhogdev;Password=hh0gd3v" />
  <add name="analytics" connectionString="Data Source=LPTP-DEV003\SQL2012_DEV;Initial Catalog=LaunchSitecore_analytics;User ID=hhogdev;Password=hh0gd3v" />
</connectionStrings>