<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <collection name="Applications">
    Office/48x48/default_user.png|
    Office/48x48/man_1.png|
    Office/48x48/man_2.png|
    Office/48x48/man_3.png|
    Office/48x48/man_4.png|
    Office/48x48/man_5.png|
    Office/48x48/man_6.png|
    Office/48x48/man_7.png|
    Office/48x48/man_8.png|
    Office/48x48/woman_1.png|
    Office/48x48/woman_2.png|
    Office/48x48/woman_3.png|
    Office/48x48/woman_4.png|
    Office/48x48/woman_5.png|
    Office/48x48/woman_6.png|
    Office/48x48/woman_7.png|
    Office/48x48/woman_8.png
  </collection>
</configuration>
  