<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=user;password=password;Data Source=.\SQLEXPRESS;Database=Sitecore_core" />
  <add name="master" connectionString="user id=user;password=password;Data Source=.\SQLEXPRESS;Database=Sitecore_master" />
  <add name="web" connectionString="user id=user;password=password;Data Source=.\SQLEXPRESS;Database=Sitecore_web" />
</connectionStrings>