*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/


# Hedgehog Team Development for Sitecore
*.scproj.user
IconCache/
T4RenderCache/
BuiltFiles_*.txt

# Launch Sitecore specific
Data/license.xml
Installers/Sitecore/Sitecore.Analytics.dll
Installers/Sitecore/Sitecore.Analytics.Automation.dll
Installers/Sitecore/Sitecore.Analytics.Core.dll
Installers/Sitecore/Sitecore.Analytics.Model.dll
Installers/Sitecore/Sitecore.Client.dll
Installers/Sitecore/Sitecore.ContentSearch.dll
Installers/Sitecore/Sitecore.ContentSearch.Linq.dll
Installers/Sitecore/Sitecore.ExperienceEditor.Speak.dll
Installers/Sitecore/Sitecore.Kernel.dll
Installers/Sitecore/Sitecore.Logging.dll
Installers/Sitecore/Sitecore.Mvc.dll
Installers/Sitecore/Sitecore.Update.dll
Installers/Sitecore/Sitecore.Zip.dll

