<ul class="nav nav-pills pull-right anav">
 <li><a href="/login">@UIHelpers.GetDictionaryText("Login")</a></li>
 <li><a href="/register">@UIHelpers.GetDictionaryText("Register")</a></li>  
 @Html.Sitecore().Controller("Navigation", "SitesNavigation")
</ul>
