@model Sitecore.Data.Items.Item
<div class="span4 logo">
 <a class="logo" href="/">
  @Html.Sitecore().Field("Site Logo", Model, new { @maxWidth = "250", @maxHeight = "72" })
 </a>
</div>
<div class="span4 offset4">
 @Html.Sitecore().Controller("Navigation", "TertiaryNavigation")
</div>
