<form action="/Search" method="post" id="searchform" class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <input class="form-control" placeholder="Search" id="SearchStr" name="SearchStr" />
    </div>
    <button type="submit" class="btn btn-default" style="display:none">Submit</button>
</form>