/* Color of the very top line in reDesign Template */
.top_line { background-color: #2773ae; }

/* Color of the visit details tab */
#mtp-toggle { background-color: #2773ae; }

/* Color that link text will appear as */
a { color: #2773ae; }

/* Color that appears when user hovers over a link */
a:hover { color: #2773ae; }

/* Text color of the active link in a drop down menu */
.navbar .nav .open .dropdown-menu .active a { }

/* Text color of the active link in a drop down menu when you hover over it */
.navbar .nav .open .dropdown-menu .active a:hover { color: #2773ae; }

/* Text color of the active navbar item */
.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav .active a > i, .navbar .nav .active a > i:hover { color: #2773ae; background-color: #ececec; background-image: none !important; filter: none; }

/* Primary menu text color when you hover over it (does not include the sub-menu text) */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { color: #2773ae; }

/* Color of the stripe in a dropdown menu when you hover over vertical menu item */
.navbar .nav > li .dropdown-menu li a:hover { background-color: #ececec; background-image: none !important; filter: none; }

/* Color of the text in a dropdown menu when you hover over it */
.navbar .nav > li .dropdown-menu li a:hover { color: #666; }

/* Color of the menu bar's sub-menu text when you hover over it and the color of both the primary and sub-menu text that has no sub-nav when you hover over it */
.navbar .nav > li:hover a, .navbar .nav > li:hover a i { color: #2773ae; }

/* Color of the stripe in a dropdown menu when you hover over vertical menu item */
.nav > li .dropdown-menu li a:hover { background-color: #ececec; background-image: none !important; filter: none; } 

/* Color of the text in a dropdown menu when you hover over it */
.nav > li .dropdown-menu li a:hover { color: #666; } 

/* Color of the menu bar's sub-menu text when you hover over it and the color of both the primary and sub-menu text that has no sub-nav when you hover over it */
.nav > li:hover a, .navbar .nav > li:hover a i { color: #2773ae; }
.nav .dropdown-toggle .caret { border-top-color: #2773ae; border-bottom-color: #2773ae; margin-top: 6px; }

/* Theme colored dropcap (the standard dropcap is black) */
.dropcap-theme { color: #2773ae; }

/* Color tab on text divider 5 */
.text-divider5 span { background-color: #2773ae; }

/* Color tab on text divider 6 */
.text-divider6 span { background-color: #2773ae; }

/* Background color of mobile dropdown nav */
.buttons-container { background-color: #2773ae; }

/* Color of active nav filter on portfolio and portfolio grid pages */
.nav-pills > .active > a, .nav-pills > .active > a:hover { background-color: #2773ae; }

/* Check icon color */
.icon-ok { color: #333333; }

/* fancy box */
.fancy-wrapper .fancy { background-color:#2773ae; /* background: url("../img/home_portfolio_hover_orange.png") no-repeat scroll center center transparent; */ }
.fancy-wrapper .fancy:after { content: "\f067"; position:absolute; top:0; left:0;	width:300px;	height:200px;	line-height:212px;	text-align:center;	color:#fff;	font-size:60px;	font-family: FontAwesome; }

a.cs-logo { background: url("../img/logo.png") no-repeat top left transparent; }

/*Dark grey hero-unit background */
.dark-hero { background: url("../img/dark_tissue.png") repeat scroll 0 0 transparent; }
/*Dark grey hero-unit button styles */
.dark-hero .btn { font-size: 24px; padding: 10px 67px; background-image: linear-gradient(bottom, #6DA8CF 10%, #0768AD 55%, #0064AC 78%);
    background-image: -o-linear-gradient(bottom, #6DA8CF 10%, #0768AD 55%, #0064AC 78%); background-image: -moz-linear-gradient(bottom, #6DA8CF 10%, #0768AD 55%, #0064AC 78%);
    background-image: -webkit-linear-gradient(bottom, #6DA8CF 10%, #0768AD 55%, #0064AC 78%); background-image: -ms-linear-gradient(bottom, #6DA8CF 10%, #0768AD 55%, #0064AC 78%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #6DA8CF), color-stop(0.55, #0768AD), color-stop(0.78, #0064AC)); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
.dark-hero .btn:hover { background-image: linear-gradient(bottom, #6DA8CF 10%, #1E77B6 55%, #1E77B6 78%); background-image: -o-linear-gradient(bottom, #6DA8CF 10%, #1E77B6 55%, #1E77B6 78%);
    background-image: -moz-linear-gradient(bottom, #6DA8CF 10%, #1E77B6 55%, #1E77B6 78%); background-image: -webkit-linear-gradient(bottom, #6DA8CF 10%, #1E77B6 55%, #1E77B6 78%);
    background-image: -ms-linear-gradient(bottom, #6DA8CF 10%, #1E77B6 55%, #1E77B6 78%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #6DA8CF), color-stop(0.55, #1E77B6), color-stop(0.78, #1E77B6)); 
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); background-position: 0 0; }