a:visited, a:link { color: #616161; }
a:active, a:hover { color: #585858; }
a { color: #5C5C5C; }
.eval_border .tab h3 { color: #5B5B5B !important; }

#contentblock a:visited, #contentblock a:link { text-decoration: underline !important; }

.searchwrapper input.invisible { background: url("/images/graytheme/button_search_header.gif") 100% 0 no-repeat; }
#content_top h1.pagetitle { background: url(/images/graytheme/landing_bg_wide.jpg) 0 0 no-repeat; }
#contentwide h1.pagetitle { background: url(/images/graytheme/landing_bg_wide.jpg) 0 0 no-repeat; }
#content h1.pagetitle { background: url(/images/graytheme/landing_bg.jpg) 0 0 no-repeat; }
#content_left h1.pagetitle { background: url(/images/graytheme/landing_bg.jpg) 0 0 no-repeat; }
.related_articles ul { list-style-image: url(/images/graytheme/round_marker_wwa.jpg); }
.demo_block .links a span { background: url(/images/graytheme/hero_btn.png) top left no-repeat; }
.addtofavorites .add { background:url(/images/graytheme/plus.gif) no-repeat left center; }
.addtofavorites .remove { background:url(/images/graytheme/minus.gif) no-repeat left center; }
.abstract_item .readmore { background: transparent url(/images/graytheme/readmore_arrow.jpg) no-repeat right center; }

.jqueryslidemenu { background: #5A5A5A url(/images/graytheme/main_nav.gif) repeat-x; }
.jqueryslidemenu ul li a { border-right: 1px solid #424242; }
.jqueryslidemenu ul li a:hover{ background: #262626; /*tab link background during hover state*/ }

#secnav li a { color: #5C5C5C; background: transparent url(/images/graytheme/secnav_arrow_closed.jpg) no-repeat right center; }
#secnav li.selected a, #secnav li a:hover { color: #5C5C5C; }
#secnav li.selected a { background: url(/images/graytheme/secnav_arrow_selected.jpg) right center no-repeat; }
#secnav li.selected span { background: url(/images/graytheme/secnav_arrow_selected.jpg) right center no-repeat; }

#mega-menu-1 { background: #656565 url(/images/graytheme/main_nav.gif) repeat-x; } 
#mega-menu-1 li a { border-right: 1px solid #424242; }
#mega-menu-1 li a:hover {background: #262626;color: #fff;}
#mega-menu-1 li .sub li.mega-hdr a.mega-hdr-a:hover {color: #585858;} 
#mega-menu-1 .sub li.mega-hdr li a:hover {color: #585858; }
#mega-menu-1 li .sub-container.non-mega li a:hover {color: #585858; }
#mega-menu-1 li .sub li.mega-hdr a.mega-hdr-a:hover {text-decoration:underline; } 
