body { background-color: #ececec; margin: 0; padding: 0; line-height:1.5; font-family:Arial, Serif; color: #424242; font-size: 14px; font-style: normal; }
a { text-decoration: none; }
a img { border: 0; }
.clear { clear: both; height: 1px; padding: 0; margin: 0; font-size: 0; }
.no_border { border: none !important; }
.header { height: 55px; margin-bottom: -3px; padding: 0 10px; margin: 0 auto; }
.header .logo { display: block; width: 127px; height: 33px; z-index: 9999; float: left; margin-top: 10px; margin-left: 15px; }
.header .buttons { float: right; padding-top: 9px; padding-right: 0; width: 130px; }
.header .buttons .button { display: block; float: right; margin-right: 10px; cursor: pointer; }
* + html .header .buttons #menu_btn { margin-top: -16px; }
.header .buttons .button span { float: left; display: block; height: 32px; text-align: center; }
.header .buttons .button .left, .header .buttons .button .right { width: 4px; }
.header .buttons .button .left { }
.header .buttons .button .right { }
.header .buttons .button .inn { padding-left: 5px; padding-right: 5px; color: white; text-transform: uppercase; line-height: 32px; font-weight: bold; }
.header .buttons .button.search img { padding-top: 6px; }

.dropdowns { position: absolute; z-index: 9999; zoom: 1; right:321px; }
.dropdowns #menu, .dropdowns #search { margin-left: 10px; margin-right: 10px; background-color: white; border: 1px solid #787878; box-shadow: 0 0 10px black; -moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 10px black; position: absolute; top: 0; left: 0; width: 280px; z-index: 9999; display: none; }
.dropdowns #menu { padding:0 10px; }
.dropdowns #search { padding: 10px; }
.dropdowns .button { float: right; display: block; padding-left: 7px; padding-right: 7px; color: white; text-transform: uppercase; line-height: 32px; font-weight: bold; }
.dropdowns .hr { height: 1px; line-height: 1px; border-bottom: 1px solid #CDCDCD; clear: both; padding-top: 15px; margin-bottom: 15px; }
.dropdowns h4 a { float: right; font-weight: bold; display: block; padding-right: 20px; font-size: 14px; text-transform: none; }
* + html .dropdowns h4 a { margin-top: 15px; }
.dropdowns .search .GlobalSearch { border: 1px solid #CDCDCD; height: 30px; width: 230px; float: left; }

.mobilemenu { width: 280px; margin-top: 50px; }
.mobilemenu ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 0; }
.mobilemenu ul li { padding-bottom: 2px; }
.mobilemenu ul li a { font: normal 12px; color: black; background: #E9E9E9; display: block; padding: 10px 0; line-height: 17px; padding-left: 8px; text-decoration: none; }
.mobilemenu ul li a:visited { color: black; }
.mobilemenu ul li a:hover, .mobilemenu ul li a:active { color: white; }

#contentblock img { width: auto; height: auto; max-width: 100%; }
.abstract_item img { width: auto; height: auto; max-width: 96% }

.content {padding: 10px; margin: 0 auto; }
.content .block  { background-color: #fff; box-shadow: 0 0 10px black; -moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 10px black; padding: 15px; zoom: 1; margin: 0 auto; }
.content .block .wide_hr { height: 5px; background: url("/images/mobile/divider.png") left center repeat-x; padding-top: 10px; padding-bottom: 10px; margin-left: -15px; margin-right: -15px; }

.content .menu_section { margin-top:15px; background-color: #f5f5f5; box-shadow: 0 0 10px black; -moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 10px black; }
#secnav {margin:0;padding:0; background-color:#f5f5f5;}
.content .menu_section .site_menu ul { padding-bottom: 20px; }
.content .menu_section .site_menu ul li { border-top: 1px solid #ebebeb; list-style: none outside none; }
.content .menu_section .site_menu ul li a { display: block; font-weight: bold; background: url("/images/mobile/link_list_arrow.jpg") right center no-repeat; padding-left: 5px; margin-right: 5px; padding-top: 12px; padding-bottom: 12px; }
.content .menu_section .site_menu ul li li a { background: #f5f5f5 url(none); font-size: 13px; }
.content .menu_section .site_menu ul li.selected a { }
.content .menu_section .site_menu .parentNode > a { background: 0; background-color: #f5f5f5; margin-right: 0; }
.content .menu_section .site_menu ul li.selected ul { padding-bottom: 0; display: block; }
.content .menu_section .site_menu ul li ul { padding-left: 20px; padding-right: 20px; background-color: #f5f5f5; }
.content .menu_section .site_menu ul li ul li { border-top: 1px dashed #d0d0d0; }
.content .menu_section .site_menu ul li.selected ul li a { font-size: 13px; cursor: pointer; }
.content .menu_section .site_menu ul li ul .selected > a { color: #737373; padding-left: 10px !important; background: url("/images/mobile/submenu_selected.jpg") left center no-repeat; }
.content .menu_section .site_menu ul li ul ul { padding-left: 20px; padding-right: 20px; padding-bottom: 10px; }
.content .menu_section .site_menu ul li ul ul li { border: 0; }
.content .menu_section .site_menu ul li ul ul li a { font-weight: normal; padding-left: 0; }

.footer { padding: 0 10px; margin: 0 auto;}
.footer .wrapper .inner { padding: 15px; color: #6C6C6C; }
.floatClear { clear: both; line-height: 0; background-color: transparent; }
.blocks { overflow: hidden; }

/* biography header */
#bio_top { height:80px; background-position: top right; padding: 8px 0 5px 8px; }
#bio_top .imagewrapper { float:left; margin-right:8px;}
#bio_top img { border: 1px solid #424242; max-width:70px; max-height:70px; }
#bio_top h1 { margin: -4px 0 4px 0; font-size:16px;}
#bio_top .detailswrapper { float:left; }
#bio_top .details { padding: 8px 0px 3px 0px; }
#bio_top h3 { font-size: 14px; color: #747474; font-weight:normal; margin: 0px 0 4px 0; }

/* DMS Data */
#dmsheading{border:1px solid #787878;background:url("/images/mobile/content_accordion_header_bg.png") top left repeat-x #bebebe;position:relative;cursor:pointer;z-index:10;zoom:1}
#dmsheading h4{font-size:14px;color:#3a3a3a;font-weight:bold; padding-left:10px; }
#dmsheading .closed{background:url("/images/mobile/content_accordion_icon_closed.png") right center no-repeat}
#dmsheading .opened{background:url("/images/mobile/content_accordion_icon_opened.png") right center no-repeat}
#dmsheading .closed, #dmsheading .opened{margin-right:10px;}
#dmsdetails { display:none; }
#sessiondetailswrapper { text-align:left; }
#sessiondetailswrapper .dmslogo { display:none; }
#sessiondetailswrapper p { margin: 5px 0; }
.grayborder { border: 2px solid #D8D8D8; padding: 5px; margin-top:10px; min-height:100px; background-color: #fff; }  
.grayborder h4 { padding: 5px 5px 0px 5px; margin-top:5px; }  
.grayborder .content p {margin:7px }
.grayborder .content { background:none; }
.grayborder .content img { float:left; margin-right:10px; max-height:100px; }
.grayborder table { width:100%; }
.grayborder td { width:50%; }
.grayborder .alternate { background-color: #D8D8D8; }

#plainBanner { margin: 4px 4px 0 0; background: url(/images/mobile/gray_logo_bg_repeat.jpg) 0 0 repeat-x; }
#plainBanner h1 { font-size:1.5em; height:46px; background-position: top; padding: 33px 0 10px 14px; border-top: 2px solid #D8D8D8; background: url(/images/mobile/gray_logo_bg.jpg) 0 0 no-repeat;}
h1.pagetitle { display: block; padding-bottom: 10px; border-bottom: 1px dashed #d0d0d0; font-size:1.5em;  }

/* abstract list */
.abstract_item { margin: 0px 0px 15px 0px; border: 1px solid #cccccc; background-color: #F2F2F2; }
.abstract_item h3 { line-height: 30px; padding-left: 10px; background: url(/images/common/related_articles_widget_head_bg.jpg) top left; margin: 0 0 5px; border-bottom: 1px solid #cccccc; }  
.abstract_item p { padding: 0 10px; }
.abstract_item .readmore { padding: 0px 20px 0px 0px; display: block; text-align: right; }
.abstract_item img { padding: 0px; margin: 10px; border: 1px solid #cccccc; }

.abstract_item ul, .abstract_item ol { list-style-position: outside; margin-bottom: 10px; padding-left: 20px;}
.abstract_item ul { list-style-type:square; }
.abstract_item ul li, .abstract_item ol li { margin-left: 10px; }

/* featured articles */
.featuredarticles { width:100%; border-top: 2px solid #D8D8D8;}
.promospot { padding-bottom:10px; }
.promospot h2 {font-size: 17px; font-weight: bold; } 
.promospot p { padding-bottom: 2px; margin-top:2px; }
.promospot ul li a { display: block; font-weight: bold; text-align:left; padding-right:0px; }
.promospot a { display: block; font-weight: bold; text-align:right; padding-right:20px; }