<!--

Purpose: This include file runs the site in 'live' mode.

The site will run off the master database.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<sites>
		<site name="website">
			<patch:attribute name="database">master</patch:attribute>
		</site>
	</sites>
  </sitecore>
</configuration>