<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <!-- Add a site for the my first site exercise -->
    <sites>
      <site x:before="*[@name='website']" name="myfirstsite" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content" startItem="/My First Site Exercise" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" content="master" hostName="myfirstsite.launchsitecore" />
    </sites>
    
    <commands>
      <!-- Page editor commands for the aded ribbons. -->
      <command name="launchsitecore:fieldeditorbutton" type="LaunchSitecore.Configuration.PageEditor.FieldEditorButton,LaunchSitecore"/>
      <command name="launchsitecore:articlefieldeditorbutton" type="LaunchSitecore.Configuration.PageEditor.FieldEditorButtonForArticleTemplate,LaunchSitecore"/>
      <command name="launchsitecore:contributorfieldeditorbutton" type="LaunchSitecore.Configuration.PageEditor.FieldEditorButtonForContributorTemplate,LaunchSitecore"/>
      <command name="launchsitecore:abstractfieldeditorbutton" type="LaunchSitecore.Configuration.PageEditor.FieldEditorButtonForAbstractField,LaunchSitecore"/>
      
      <!-- A ribbon command for the security widnow to enable and reset the passwords. -->
      <command name="launchsitecore:resetsecurityaccounts" type="LaunchSitecore.Configuration.Security.ResetSecurityAccounts,LaunchSitecore"/>
    </commands>

    <!-- Add a replacment to replace spaces with dashes -->
    <encodeNameReplacements>    
      <replace x:after="*[@find=':']" mode="on" find=" " replaceWith="-"/>
    </encodeNameReplacements>
    
   
    <settings>
      <!-- We need to add dash to the invalid name characters since we are using it as a replacement for space.      
      <setting name="InvalidItemNameChars">
        <x:attribute name="value">\/:?&quot;&lt;&gt;|[]-</x:attribute>
      </setting>
      -->
      <!-- This setting specifies how quickly we will pattern match. -->
      <setting name= "Analytics.Patterns.MinimalProfileScoreCount" value= "0" />

      <!-- allow the @ and . characters in a username -->
      <!-- http://sitecoreblog.alexshyba.com/2010/02/sitecore-6-quick-tip-email-as-user-name.html -->
      <setting name="AccountNameValidation" value=".+" />
    </settings>

    <!-- This is really just an example to show how to create a saveUI processor.  The processor just replaces non-breaking spaces with spaces.  -->
    <processors>
      <saveUI>
        <processor type="LaunchSitecore.Configuration.Processors.RemoveNonBreakingSpacesSaveProcessor,LaunchSitecore" x:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" />
      </saveUI>
    </processors>

    <!-- We are using spaces in the names of items in the content tree and using the url replacements section above to change them to dashes. -->
    <!-- We could use the invalid characters,-->
    <events>
      <event name="item:saving" >
        <handler type="LaunchSitecore.Configuration.Handlers.ItemNameHyphenHandler, LaunchSitecore" method="OnItemSaving" x:after="handler[@type='Sitecore.Tasks.ItemEventHandler']" />
      </event>
    </events>
    
  </sitecore>
</configuration>