<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <getRenderingDatasource>
                <processor patch:after="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
                           type="MultipleDataSourceLocationsWithQueries.Pipelines.GetRenderingDatasource.GetDatasourceLocation, MultipleDataSourceLocationsWithQueries" />
            </getRenderingDatasource>
        </pipelines>
    </sitecore>
</configuration>