<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commands>
      <!-- Page editor commands for the aded ribbons. -->
      <command name="launchsitecore:fieldeditorbutton" type="LaunchSitecore.Configuration.AuthoringExperience.PageEditor.FieldEditorButton,LaunchSitecore"/>
      <command name="launchsitecore:articlefieldeditorbutton" type="LaunchSitecore.Configuration.AuthoringExperience.PageEditor.FieldEditorButtonForArticleTemplate,LaunchSitecore"/>
      <command name="launchsitecore:abstractfieldeditorbutton" type="LaunchSitecore.Configuration.AuthoringExperience.PageEditor.FieldEditorButtonForAbstractField,LaunchSitecore"/>
      <command name="launchsitecore:presentationsettingsforsite" type="LaunchSitecore.Configuration.AuthoringExperience.PageEditor.FieldEditorButtonForPresentationSettings,LaunchSitecore"/>
      <command name="launchsitecore:sitesettingsforsite" type="LaunchSitecore.Configuration.AuthoringExperience.PageEditor.FieldEditorButtonForSiteSettings,LaunchSitecore"/>

      <!-- Ribbon commands for the security window to enable and reset the passwords. -->
      <command name="launchsitecore:createsecurityaccounts" type="LaunchSitecore.Configuration.Administration.Security.CreateSecurityAccounts,LaunchSitecore"/>

      <!-- Ribbon command for item renaming based on the item naming configuration. -->
      <command name="launchsitecore:updateitemnames" type="LaunchSitecore.Configuration.AuthoringExperience.ItemNaming.UpdateItemNamesCommand,LaunchSitecore"/>
    </commands>

    <settings>
      <!-- This setting specifies how quickly we will pattern match. -->
      <setting name= "Analytics.Patterns.MinimalProfileScoreCount" value= "0" />

      <!-- allow the @ and . characters in a username -->
      <!-- http://sitecoreblog.alexshyba.com/2010/02/sitecore-6-quick-tip-email-as-user-name.html -->
      <setting name="AccountNameValidation" value=".+" />

      <!--TODO: Make comment for setting change-->
      <setting name="NoAccessUrl" >
        <x:attribute name="value" >/login.aspx</x:attribute>
      </setting>

      <setting name="WebStylesheet">
        <x:attribute name="value" >/assets/css/richtexteditor.css</x:attribute>
      </setting>

      <!--

   <setting patch:instead="*[@name='NoAccessUrl']" name="NoAccessUrl" value="/login" />
   <setting patch:instead="*[@name='WebStylesheet']" name="WebStylesheet" value="/assets/css/richtexteditor.css" />


   if you want to override the other error pages, use these settings 
   <setting name="ItemNotFoundUrl">
    <x:attribute name="value">/404</x:attribute>
   </setting>
   <setting name="LinkItemNotFoundUrl">
    <x:attribute name="value">/404</x:attribute>
   </setting> 
   <setting name="LayoutNotFoundUrl">
    <x:attribute name="value">/404</x:attribute>
   </setting> 
   <setting name="ErrorPage">
    <x:attribute name="value">/error</x:attribute>
   </setting> -->
    </settings>

    <!-- Processors to run when saving an item in the UI. -->
    <processors>
      <saveUI>
        <!-- This is really just an example to show how to create a saveUI processor.  The processor just replaces non-breaking spaces with spaces.  I do this because I want as clean of content as possible with full separation of content and presentation. -->
        <processor type="LaunchSitecore.Configuration.AuthoringExperience.Processors.RemoveNonBreakingSpacesSaveProcessor,LaunchSitecore" x:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" />
      </saveUI>
    </processors>

    <pipelines>
      <getContentEditorWarnings>
        <processor type="LaunchSitecore.Configuration.AuthoringExperience.ItemNaming.ContentEditorItemNamingNotification, LaunchSitecore" x:after="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.Notifications, Sitecore.Kernel']"  />
      </getContentEditorWarnings>
    </pipelines>

    <!-- Sitecore allows spaces in items names (as it should), but you may want to replace those with dashes for items that are rendered as pages.  This is an example of one way to handle this. 
         Launch Sitecore has an article about this int he Building Launch Sitecore section that I recommend reading.  -->
    <events>
      <!-- Since one of our requirements is that the item have presentation, we need to run on item save. item:added and item:renamed could miss items that are created w/o presentation then have presentation added later.  -->
      <event name="item:saving" >
        <handler type="LaunchSitecore.Configuration.AuthoringExperience.ItemNaming.ItemNameHyphenHandler, LaunchSitecore" method="OnItemSaving" x:after="handler[@type='Sitecore.Tasks.ItemEventHandler']" />
        <handler type="LaunchSitecore.Configuration.AuthoringExperience.ItemNaming.ItemNameUniqueHandler, LaunchSitecore" method="OnItemSaving" x:after="handler[@type='Sitecore.Tasks.ItemEventHandler']" />
      </event>
    </events>

    <!-- The Link Manager is configured to create links the way you want.  Here we are turning off extensions and using lower case.
        Sitecore items have a name that is shared across all language versions and a display name that is unversioned for each language.  
        This allows you to use the display name to have fully translated urls. -->
    <linkManager>
      <providers>
        <add name="sitecore">
          <x:attribute name="addAspxExtension">false</x:attribute>
          <x:attribute name="lowercaseUrls">true</x:attribute>
          <x:attribute name="useDisplayName">false</x:attribute>
        </add>
      </providers>
    </linkManager>

    <!-- Has Presentation Field so the Site Search will only show items with Presentation -->
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="has_presentation" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" x:before="fieldType[@fieldName='parsedlanguage']"></field>
              <field fieldName="profile_card" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" x:before="fieldType[@fieldName='parsedlanguage']"></field>
            </fieldNames>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="has_presentation" storageType="YES" indexType="TOKENIZED" x:after="fieldType[@fieldName='version']">LaunchSitecore.Configuration.SiteUI.Search.ComputedFields.HasPresentationComputedField,LaunchSitecore</field>
            <field fieldName="profile_card" storageType="YES" indexType="TOKENIZED" x:after="fieldType[@fieldName='version']">LaunchSitecore.Configuration.SiteUI.Search.ComputedFields.ProfileCardComputedField,LaunchSitecore</field>
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>