@model LaunchSitecore.Models.VisitInformation
<div id="pnlDetails">
    <h3 class="center-title">
        @UIHelpers.GetDictionaryText("Visit Details")
        <span class="pagecounts">
            <img src="/assets/img/page.png" alt="Pages" title="Pages Viewed" />@Model.PageCount
            <img src="/assets/img/value.png" alt="Value" title=" Engagement Value" />@Model.EngagementValue
        </span>
    </h3>
    <div style="clear: both"></div>
    
</div>