<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Analytics.AutoDetectBots">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Analytics.Robots.IgnoreRobots">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

        <!-- EXPERIENCE ANALYTICS - AGGREGATION - SEGMENT DEPLOY DATE OFFSET PADDING
           Controls additional padding when interaction's SaveDateTime is compared with segment's deploy date.
           The timespan built from the value of this setting is added to the segment's deploy date.
           When a segment is being deployed, the DeployDate will be DateTime.UtcNow.Add(SegmentDeployDateOffsetPadding)
           Interaction data for the particular segment will be processed if interaction.SaveDateTime > segment.DeployDate
           Default value: 00:30:00 (30 minutes)
        -->
      <setting name="ExperienceAnalytics.Aggregation.SegmentDeployDateOffsetPadding">
        <patch:attribute name="value">00:02:00</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>