<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <mvc>
      <precompilation>
        <assemblies>
          <assemblyIdentity name="LaunchSitecore" />
        </assemblies>  
      </precompilation>
    </mvc>

    <settings>
      <setting name="Mvc.UsePhysicalViewsIfNewer" value="false" />
    </settings>

  </sitecore>
</configuration>