<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!-- Has Presentation Field so the Site Search will only show items with Presentation -->
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fields hint="raw:AddComputedIndexField">
            <field type="LaunchSitecore.Configuration.Search.ComputedFields.HasPresentationComputedField,LaunchSitecore">
              <x:attribute name="type" value="LaunchSitecore.Configuration.Search.ComputedFields.HasPresentationComputedField" />
              <x:attribute name="ZeroDeploy" value="true" />
            </field>
            <field type="LaunchSitecore.Configuration.Search.ComputedFields.ProfileCardComputedField,LaunchSitecore">
              <x:attribute name="type" value="LaunchSitecore.Configuration.Search.ComputedFields.ProfileCardComputedField" />
              <x:attribute name="ZeroDeploy" value="true" />
            </field>
            <field type="LaunchSitecore.Configuration.Search.ComputedFields.SiteAreaComputedField,LaunchSitecore">
              <x:attribute name="type" value="LaunchSitecore.Configuration.Search.ComputedFields.SiteAreaComputedField" />
              <x:attribute name="ZeroDeploy" value="true" />
            </field>

          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

  </sitecore>
</configuration>