<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commands>
      <!-- Ribbon commands for the security window to enable and reset the passwords. -->
      <command name="launchsitecore:createsecurityaccounts" type="LaunchSitecore.Configuration.Security.CreateSecurityAccounts,LaunchSitecore">
        <x:attribute name="type" value="LaunchSitecore.Configuration.Security.CreateSecurityAccounts" />
        <x:attribute name="ZeroDeploy" value="true" />
      </command>
    </commands>

    
    <!-- Processors to run when saving an item in the UI. -->
    <!--

    <pipelines>
      <mvc.exception>
        <processor type="LaunchSitecore.Configuration.Events.mvc.exception.ShowLaunchSitecoreErrorMessage,LaunchSitecore" 
                   x:before="processor[@type='Sitecore.Mvc.Pipelines.MvcEvents.Exception.ShowAspNetErrorMessage, Sitecore.Mvc']"
                   ZeroDeploy="true"/>
      </mvc.exception>
    </pipelines>-->

  </sitecore>
</configuration>