<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commands>
      <!-- Ribbon command for item renaming based on the item naming configuration. -->
      <command name="launchsitecore:updateitemnames" type="LaunchSitecore.Configuration.Commands.UpdateItemNamesCommand,LaunchSitecore">
        <x:attribute name="type" value="LaunchSitecore.Configuration.Commands.UpdateItemNamesCommand" />
        <x:attribute name="ZeroDeploy" value="true" />
      </command>
    </commands>

    <!-- Processors -->
    <pipelines>
      <getContentEditorWarnings>
        <!-- sholmesby: this needs to be fixed for ZeroDeploy -->
        <processor type="LaunchSitecore.Configuration.Pipelines.getContentEditorWarnings.ContentEditorItemNamingNotification, LaunchSitecore">
          <x:delete />
        </processor>
      </getContentEditorWarnings> 
    </pipelines>

    <!-- Sitecore allows spaces in items names (as it should), but you may want to replace those with dashes for items that are rendered as pages.  This is an example of one way to handle this. 
         Launch Sitecore has an article about this int he Building Launch Sitecore section that I recommend reading.  -->
    <events>
      <event name="item:saving" >
        <handler type="LaunchSitecore.Configuration.Events.ItemSaving.ItemNameHyphenHandler, LaunchSitecore">
          <x:attribute name="type" value="LaunchSitecore.Configuration.Events.ItemSaving.ItemNameHyphenHandler" />
          <x:attribute name="ZeroDeploy" value="true" />
        </handler>
        <handler type="LaunchSitecore.Configuration.Events.ItemSaving.ItemNameUniqueHandler, LaunchSitecore">
          <x:attribute name="type" value="LaunchSitecore.Configuration.Events.ItemSaving.ItemNameUniqueHandler" />
          <x:attribute name="ZeroDeploy" value="true" />
        </handler>
      </event>
    </events>

  </sitecore>
</configuration>