<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.GenerateFieldEditorUrl" type="LaunchSitecore.Configuration.AuthoringExperience.PageEditor.GenerateFieldEditorUrl, LaunchSitecore">
        <x:attribute name="type" value="LaunchSitecore.Configuration.AuthoringExperience.PageEditor.GenerateFieldEditorUrl" />
        <x:attribute name="ZeroDeploy" value="true" />
      </request>
    </sitecore.experienceeditor.speak.requests>
    
  </sitecore>
</configuration>