<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!-- Has Presentation Field so the Site Search will only show items with Presentation -->
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="has_presentation" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" x:before="fieldType[@fieldName='parsedlanguage']"></field>
              <field fieldName="profile_card" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" x:before="fieldType[@fieldName='parsedlanguage']"></field>
              <field fieldName="site_area" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" x:before="fieldType[@fieldName='parsedlanguage']">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider"/>
              </field>
            </fieldNames>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="has_presentation" storageType="YES" indexType="TOKENIZED" x:after="fieldType[@fieldName='version']">LaunchSitecore.Configuration.Search.ComputedFields.HasPresentationComputedField,LaunchSitecore</field>
            <field fieldName="profile_card" storageType="YES" indexType="TOKENIZED" x:after="fieldType[@fieldName='version']">LaunchSitecore.Configuration.Search.ComputedFields.ProfileCardComputedField,LaunchSitecore</field>
            <field fieldName="site_area" storageType="YES" indexType="TOKENIZED" x:after="fieldType[@fieldName='version']">LaunchSitecore.Configuration.Search.ComputedFields.SiteAreaComputedField,LaunchSitecore</field>

          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

  </sitecore>
</configuration>