<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <sitecore.experienceeditor.speak.requests>
     <request name="ExperienceEditor.GenerateFieldEditorUrl" type="LaunchSitecore.Configuration.AuthoringExperience.PageEditor.GenerateFieldEditorUrl, LaunchSitecore"/>
    </sitecore.experienceeditor.speak.requests>
    
  </sitecore>
</configuration>