<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!-- The Link Manager is configured to create links the way you want.  Here we are turning off extensions and using lower case.
        Sitecore items have a name that is shared across all language versions and a display name that is unversioned for each language.  
        This allows you to use the display name to have fully translated urls. -->
    <linkManager>
      <providers>
        <add name="sitecore">
          <x:attribute name="addAspxExtension">false</x:attribute>
          <x:attribute name="lowercaseUrls">true</x:attribute>
          <x:attribute name="useDisplayName">false</x:attribute>
          <x:attribute name="languageEmbedding">never</x:attribute>
        </add>
      </providers>
    </linkManager>

  </sitecore>
</configuration>