<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <!-- allow the @ and . characters in a username -->
      <!-- http://sitecoreblog.alexshyba.com/2010/02/sitecore-6-quick-tip-email-as-user-name.html -->
      <setting name="AccountNameValidation" value=".+" />

      <!--TODO: Make comment for setting change-->
      <setting name="NoAccessUrl" >
        <x:attribute name="value" >/login.aspx</x:attribute>
      </setting>
    </settings>

  </sitecore>
</configuration>