<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commands>
      <!-- Ribbon command for item renaming based on the item naming configuration. -->
      <command name="launchsitecore:updateitemnames" type="LaunchSitecore.Configuration.Commands.UpdateItemNamesCommand,LaunchSitecore" ZeroDeploy="true"/>
    </commands>

    <settings>
      <!--  Out of the box, Sitecore allows spaces in item names. Since item names (or display names) are used to generate URLs you might want to not allow spaces or 
        simply replace them with dashes in item names. These settings allow you to specify how this server will treat content items. These rules are only enforced 
        on items with presentation settings. There is a full article in the Building Launch Sitecore section on this topic. -->

      <setting name= "LaunchSitecore.ItemNaming.ReplaceSpacesWithDashesInItemNames" value= "true" />
      <setting name= "LaunchSitecore.ItemNaming.StorePrettyNameInDisplayName" value= "false" />
      <setting name= "LaunchSitecore.ItemNaming.ShowContentEditorWarnings" value= "false" />
    </settings>

    <!-- Processors -->
    <pipelines>
      <getContentEditorWarnings>
        <processor type="LaunchSitecore.Configuration.Pipelines.getContentEditorWarnings.ContentEditorItemNamingNotification, LaunchSitecore" 
                   x:after="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.Notifications, Sitecore.Kernel']"
                   ZeroDeploy="true"/>
      </getContentEditorWarnings>
    </pipelines>

    <!-- Sitecore allows spaces in items names (as it should), but you may want to replace those with dashes for items that are rendered as pages.  This is an example of one way to handle this. 
         Launch Sitecore has an article about this int he Building Launch Sitecore section that I recommend reading.  -->
    <events>
      <!-- Since one of our requirements is that the item have presentation, we need to run on item save. item:added and item:renamed could miss items that are created w/o presentation then have presentation added later.  -->
      <event name="item:saving" >
        <handler type="LaunchSitecore.Configuration.Events.ItemSaving.ItemNameHyphenHandler, LaunchSitecore" method="OnItemSaving" x:after="handler[@type='Sitecore.Tasks.ItemEventHandler']" ZeroDeploy="true" />
        <handler type="LaunchSitecore.Configuration.Events.ItemSaving.ItemNameUniqueHandler, LaunchSitecore" method="OnItemSaving" x:after="handler[@type='Sitecore.Tasks.ItemEventHandler']" ZeroDeploy="true" />
      </event>
    </events>

  </sitecore>
</configuration>