<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commands>
      <!-- Ribbon commands for the security window to enable and reset the passwords. -->
      <command name="launchsitecore:createsecurityaccounts" type="LaunchSitecore.Configuration.Security.CreateSecurityAccounts,LaunchSitecore" ZeroDeploy="true"/>
    </commands>

    <settings>
      <!-- This setting specifies how quickly we will pattern match. -->
      <setting name= "Analytics.Patterns.MinimalProfileScoreCount" value= "0" />

      <setting name="WebStylesheet">
        <x:attribute name="value" >/assets/css/custom.css</x:attribute>
      </setting>

      <setting name= "LaunchSitecore.ShowErrorDetailsOnErrorPage" value= "true" />
    </settings>

    <!-- Processors to run when saving an item in the UI. -->
    <processors>
      <saveUI>
        <!-- This is really just an example to show how to create a saveUI processor.  The processor just replaces non-breaking spaces with spaces.  I do this because I want as clean of content as possible with full separation of content and presentation. -->
        <processor type="LaunchSitecore.Configuration.Processors.saveUI.RemoveNonBreakingSpacesSaveProcessor,LaunchSitecore"
                   x:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']"
                   ZeroDeploy="true"/>
      </saveUI>
    </processors>

    <pipelines>
      <mvc.exception>
        <processor type="LaunchSitecore.Configuration.Events.mvc.exception.ShowLaunchSitecoreErrorMessage,LaunchSitecore" 
                   x:before="processor[@type='Sitecore.Mvc.Pipelines.MvcEvents.Exception.ShowAspNetErrorMessage, Sitecore.Mvc']"
                   ZeroDeploy="true"/>
      </mvc.exception>
    </pipelines>

  </sitecore>
</configuration>