<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <startTracking>
        <processor type="LaunchSitecore.Configuration.Pipelines.StartTracking.GeoIpSpoofForLocalhost,LaunchSitecore" patch:before="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.UpdateGeoIpData, Sitecore.Analytics']" />
      </startTracking>
    </pipelines>

    <settings>
      <!-- This is our default IP address for visits from 127.* -->
      <setting name= "LaunchSitecore.GeoIpSpoofForLocalhost.DefaultIPAddress" value= "99.45.148.64" />
    </settings>
  </sitecore>
</configuration>
