<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor
          type="Hedgehog.Feydra.SC.Pipelines.FeydraRequestProcessor, Hedgehog.Feydra.SC"
          patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"/>
        <processor
         type="Hedgehog.Feydra.SC.Pipelines.FeydraLayoutResolver, Hedgehog.Feydra.SC"
         patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
    <renderingControls>
      <control template="sublayout" propertyMap="Path=path">
        <patch:attribute name="type">Hedgehog.Feydra.SC.RenderingTypes.FeydraSublayoutRenderingType, Hedgehog.Feydra.SC</patch:attribute>
      </control>
    </renderingControls>
  </sitecore>
</configuration>