<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Glass.Mapper.Sc" version="4.3.4.197" targetFramework="net452" />
  <package id="Glass.Mapper.Sc.Core" version="4.3.4.197" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Sitecore.Analytics" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Analytics.Core" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Analytics.Model" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Client" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ContentSearch" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ContentSearch.Linq" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ExperienceEditor" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ExperienceEditor.Speak" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Logging" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Marketing" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Marketing.Automation" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Mvc" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Update" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Xdb.MarketingAutomation.Tracking" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Zip" version="9.3.0" targetFramework="net471" />
</packages>