<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Glass.Mapper.Sc" version="4.0.3.51" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Sitecore.Analytics" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics.Automation" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics.Core" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics.CoreGroup" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics.Model" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Client" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Client.CoreGroup" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.ContentSearch" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.ContentSearch.CoreGroup" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.ContentSearch.Linq" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.CoreGroup" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.ExperienceEditor" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.ExperienceEditor.CoreGroup" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.ExperienceEditor.Speak" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Kernel" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Logging" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Mvc" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Mvc.CoreGroup" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Packaging.CoreGroup" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Update" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Zip" version="8.1.0.160302" targetFramework="net45" />
</packages>